<!-- wp:group {"tagName":"section","className":"ra-patterns-hero"} -->
<section class="wp-block-group ra-patterns-hero"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:heading {"level":1} -->
<h1>Tighter Spreads &amp; Faster Execution</h1>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><strong>With Forex Bros you trade with the best in the biz! With quality execution and some of the best trading conditions in the industry, your trading experience will be none other than epic.</strong></p>
<!-- /wp:paragraph -->

<!-- wp:list -->
<ul><li>No dealing desk or requotes</li><li>Commissions as low as $0</li></ul>
<!-- /wp:list --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:image -->
<figure class="wp-block-image"><img alt=""/></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></section>
<!-- /wp:group -->
