<!-- wp:group {"tagName":"section","className":"ra-patterns-tools"} -->
<section class="wp-block-group ra-patterns-tools"><!-- wp:heading -->
<h2>Tools to Compliment Your Trading</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>Access news &amp; economic calendar, technical indicators &amp; charts, Forex Calculators, educational resources and many more tools to help you excel.</p>
<!-- /wp:paragraph -->

<!-- wp:test-blocks/tools-section -->
<div class="wp-block-test-blocks-tools-section ra-tools-section"><!-- wp:test-blocks/tools-single /-->

<!-- wp:test-blocks/tools-single /-->

<!-- wp:test-blocks/tools-single /--></div>
<!-- /wp:test-blocks/tools-section --></section>
<!-- /wp:group -->
